
<div ng-switch="property.Type" >
    <div ng-switch-when="mail">
        <input class="form-control" type="text" ng-model="model[property.Name]" ng-change="propertyChanged(model, property);" />
    </div>
    <span ng-switch-when="url">
        <input class="form-control" type="text" ng-model="model[property.Name]" ng-change="propertyChanged(model, property);" />
    </span>
    <div ng-switch-when="photourl" class="profileImageWrapper">
        <img ng-src="{{model[property.Name]}}" />
    </div>
    <div ng-switch-when="boolean" class="checkbox">
        <input class="styled" type="checkbox" ng-model="model[property.Name]" ng-change="propertyChanged(model, property);" />
        <label> </label>
    </div>
    <span ng-switch-when="enum">
        <select ng-model="model[property.Name]" ng-change="propertyChanged(model, property)" class="form-control">
            <option ng-repeat="enumValue in property.Values" value="{{enumValue}}">
                {{enumValue}}
            </option>
        </select>
    </span>
    <div ng-switch-when="string">
        <input class="form-control" type="text" ng-model="model[property.Name]" ng-change="propertyChanged(model, property);" />
    </div>
    <div ng-switch-when="room">
        <select class="form-control"
                ng-model="model[property.Name]"
                ng-options="room as room.Name for room in rooms.all track by room.Id"
                ng-change="propertyChanged(model, property);"
        ></select>
    </div>
    <div ng-switch-when="country">
        <select class="form-control"
                ng-model="model[property.Name]"
                ng-options="country as country.Name for country in countries.all track by country.Id"
                ng-change="propertyChanged(model, property);"
        ></select>
    </div>
    <div ng-switch-when="workshop">
        <select class="form-control"
                ng-model="model[property.Name]"
                ng-options="workshop as workshop.Name for workshop in workshops.all track by workshop.Id"
                ng-change="propertyChanged(model, property);"
        ></select>
    </div>
    <div ng-switch-when="organizer">
        <select class="form-control"
                ng-model="model[property.Name]"
                ng-options="organizer as (organizer.LastName + ' ' + organizer.FirstName) for organizer in organizers.all track by organizer.Id"
                ng-change="propertyChanged(model, property);"
        ></select>
    </div>
    <div ng-switch-when="mentor">
        <select class="form-control"
                ng-model="model[property.Name]"
                ng-options="mentor as (mentor.LastName + ' ' + mentor.FirstName) for mentor in mentors.all track by mentor.Id"
                ng-change="propertyChanged(model, property);"
        ></select>
    </div>
    <div ng-switch-when="date">
        <div ng-include='"views/partialViews/propertyDateEditField.html"'></div>
    </div>
    <span ng-switch-default>
        <input class="form-control" type="text" ng-model="model[property.Name]" ng-change="propertyChanged(model, property);" />
    </span>
</div>