<h1> ISWinT 2016 - Organizers</h1>


<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <td ng-repeat="(propertyName, propertyValue) in type">
                    {{propertyName}}
                </td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in organizers">
                <td>{{$index + 1}}</td>
                <td ng-repeat="(propertyName, propertyDesc) in type">
                    <span class="row" ng-include='"partialViews/propertyDisplay.html"'>

                    </span>
                    <!--{{organizer[propertyName]}}-->
                </td>
                <td ng-if="isOrganizer">
                    <span class="table-btn glyphicon glyphicon-edit" ng-click="organizerAction(item, 'edit');"></span>
                    <span class="table-btn glyphicon glyphicon-eye-open" ng-click="organizerAction(item, 'edit');"></span>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
</div>
