<div class="container">
	<div class="row">
		<div class="col-md-12"><h1 class="bold" id="pageTitle">Welcome to ISWinT Portal</h1></div>
		<div class="col-md-4" style="margin-top:10px;">
			<button class="btn green-yellow btn-block" style="margin-top:5px; margin-bottom:5px;" ui-sref="schedule">Schedule</button>
		</div>
		<div class="col-md-4" style="margin-top:10px;">
			<button class="btn green-yellow btn-block" style="margin-top:5px; margin-bottom:5px;"  ui-sref="arrivals">Arrival List</button>
		</div>
		<div class="col-md-4" style="margin-top:10px;">
			<button class="btn green-yellow btn-block" style="margin-top:5px; margin-bottom:5px;"  ui-sref="santinel">Santinel List</button>
		</div>
	</div>
</div>