<div class="container">
    <div class="row">
        <div class="col-md-"><h1 class="bold" id="pageTitle">Schedule</h1></div>
    </div>
    <br>
    <div class="col-md-12">
            <div class="row">
                <ul class="nav nav-justified">
                    <li ng-class="{current: true}" style="cursor:pointer"><a ng-click="changeTab(1)">Monday</a></li>
                    <li ng-class="{current: false}" style="cursor:pointer"><a ng-click="changeTab(2)">Tuesday</a></li>
                    <li ng-class="{current: false}" style="cursor:pointer"><a ng-click="changeTab(3)">Wednesday</a></li>
                    <li ng-class="{current: false}" style="cursor:pointer"><a ng-click="changeTab(1)">Thursday</a></li>
                    <li ng-class="{current: false}" style="cursor:pointer"><a ng-click="changeTab(2)">Friday</a></li>
                    <li ng-class="{current: false}" style="cursor:pointer"><a ng-click="changeTab(3)">Saturday</a></li>
                    <li ng-class="{current: false}" style="cursor:pointer"><a ng-click="changeTab(1)">Sunday</a></li>
                    <li ng-class="{current: false}" style="cursor:pointer"><a ng-click="changeTab(2)">Monday</a></li>
                    <li ng-class="{current: false}" style="cursor:pointer"><a ng-click="changeTab(3)">Tuesday</a></li>
                    <li ng-class="{current: false}" style="cursor:pointer"><a ng-click="changeTab(3)">Wednesday</a></li>
                </ul>
            <div class="tab-content">
                <div style="margin-top:10px;">
                    <div class="col-md-12">
                    	<div class="col-md-2 bold">8:50 - 9:00</div>
                    	<div class="col-md-10">Wake-up time and road to workshop location</div>

                    	<div class="col-md-2 bold">9:30 - 13:30</div>
                    	<div class="col-md-10">Coffee break and city strolling</div>

                    	<div class="col-md-2 bold">14:00 - 14:30</div>
                    	<div class="col-md-10">Lunch</div>

                    	<div class="col-md-2 bold">15:00 - 15:30</div>
                    	<div class="col-md-10">Free time</div>

                    	<div class="col-md-2 bold">16:00 - 19:30</div>
                    	<div class="col-md-10">Openning Ceremony</div>

                    	<div class="col-md-2 bold">20:00 - 20:30</div>
                    	<div class="col-md-10">Dinner</div>

                    	<div class="col-md-2 bold">21:00 - 21:30</div>
                    	<div class="col-md-10">Free time</div>

                    	<div class="col-md-2 bold">22:00 ++</div>
                    	<div class="col-md-10">Get to know party</div>
                    </div>
                </div>
            </div>
        </div>   
</div>