<div class="container">
    <div class="row">
        <div class="col-md-12"><h1 class="bold" id="pageTitle">Schedule</h1></div>
    </div>
    <br>
    <div class="col-md-12">
            <div class="row">
                <ul class="nav nav-justified">
                    <li ng-class="{current: isCurrentTab(1)}" style="cursor:pointer"><a ng-click="setCurrentTab(1)">Monday 25.07.2016</a></li>
                    <li ng-class="{current: isCurrentTab(2)}" style="cursor:pointer"><a ng-click="setCurrentTab(2)">Tuesday 26.07.2016</a></li>
                    <li ng-class="{current: isCurrentTab(3)}" style="cursor:pointer"><a ng-click="setCurrentTab(3)">Wednesday 27.07.2016</a></li>
                    <li ng-class="{current: isCurrentTab(4)}" style="cursor:pointer"><a ng-click="setCurrentTab(4)">Thursday 28.07.2016</a></li>
                    <li ng-class="{current: isCurrentTab(5)}" style="cursor:pointer"><a ng-click="setCurrentTab(5)">Friday 29.07.2016</a></li>
                    <li ng-class="{current: isCurrentTab(6)}" style="cursor:pointer"><a ng-click="setCurrentTab(6)">Saturday 30.07.2016</a></li>
                    <li ng-class="{current: isCurrentTab(7)}" style="cursor:pointer"><a ng-click="setCurrentTab(7)">Sunday 31.07.2016</a></li>
                    <li ng-class="{current: isCurrentTab(8)}" style="cursor:pointer"><a ng-click="setCurrentTab(8)">Monday 01.08.2016</a></li>
                    <li ng-class="{current: isCurrentTab(9)}" style="cursor:pointer"><a ng-click="setCurrentTab(9)">Tuesday 02.08.2016</a></li>
                    <li ng-class="{current: isCurrentTab(10)}" style="cursor:pointer"><a ng-click="setCurrentTab(10)">Wednesday 03.08.2016</a></li>
                </ul>
            <div class="tab-content">
                <!-- Monday - 25.07.2016 -->
                <div ng-repeat="day in schedule" ng-if="isCurrentTab($index + 1)" style="margin-top:10px;">
                    <ul class="timeline">
                        <li ng-repeat="item in day.items" class="timeline-milestone {{item.class}}">
                            <div class="timeline-action">
                                <span class="title bold">{{item.name}}</span>
                                <span class="date bold">{{item.startHour}} - {{item.endHour}} <i class="light" ng-if="item.hourToEvent != ''">({{item.hourToEvent}} hours left)</i></span>
                                <span class="content">{{item.content}}</span>  
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>   
</div>