<div class="container" ng-if="type != null || models">
    <div class="row">
        <div class="col-md-9"><h1 class="bold" id="pageTitle">{{pageTitle}}</h1></div>
        <div class="col-md-3">
            <button id="newButton" class="btn green-yellow bold btn-block pull-right" ng-click="modelAction({}, 'new');">ADD NEW</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Search..." />
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="advancedFiltersAreShown">
        <div id="advancedFilters" class="row">
            <span class="col-md-12 bold"><h4>Columns</h4></span>
            <div class="col-md-12">
                <span class="col-md-3" ng-repeat="property in type.Properties" ng-if="showPropertyVisibleCheckbox(property)" >
                    <label>
                        <input type="checkbox" ng-model="property.visible" ng-change="propertyVisibleChanged(property)"/>
                        <span>{{property.ViewName?property.ViewName:property.Name}}</span>
                    </label>
                </span>
            </div>
            <span class="col-md-12 bold"><h4>Filters</h4></span>
            <div></div>
        </div>
    </div>

    <div id="advancedButtons" class="row">
        <div class="col-sm-6">
            <button class="btn btn-default" ng-show="!advancedFiltersAreShown" ng-click="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i>&nbsp;Show Advanced Options</button>
            <button class="btn btn-default" ng-show="advancedFiltersAreShown" ng-click="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i>&nbsp;Hide Advanced Options</button>
        </div>
    </div>   
    <div class="text-center" ng-if="!loaded()">
        <i class="fa fa-cog fa-spin" style="font-size:48px; color:" ></i>
    </div>
    <div class="table-responsive" ng-if="loaded()">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-repeat="property in type.Properties" ng-if="showProperty(property)" class="bold" style="cursor:pointer">
                        <a ng-click="sortBy(property.Name)">{{property.ViewName?property.ViewName:property.Name}}&nbsp;<span class="sortorder" ng-show="propertyName === property.Name" ng-class="{reverse: reverse}"></span></a>
                    </th>
                    <th class="right-content"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="model in models | filter: searchText | orderBy: propertyName: reverse">
                    <td class="bold table-element">{{$index + 1}}</td>
                    <td class="table-element" ng-repeat="property in type.Properties" ng-if="showProperty(property)">
                        <span ng-include='"views/partialViews/propertyDisplay.html"'
                        ng-if="!property.EditableInTable"></span>
                        <span ng-include='"views/partialViews/propertyEditField.html"'
                        ng-if="property.EditableInTable"></span>
                    </td>
                    <td class="right-content">
                        <button class="btn green-yellow" ng-click="modelAction(model, 'edit');"
                        ng-if="isOrganizer"><span class="glyphicon glyphicon-edit"
                        ></span></button>
                        <button class="btn green-yellow" ng-click="modelAction(model, 'view');"><span class="glyphicon glyphicon-eye-open"></span></button>
                        <button class="btn green-yellow" ng-click="modelAction(model, 'remove');"><span class="glyphicon glyphicon-trash"
                        ></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
