<div class="" ng-controller="MenuController">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#myNavbar"
                        ng-click="menuCollapsed = !menuCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand bold" href="#">ISWinT Portal</a>
            </div>
            <div class="collapse navbar-collapse" ng-class="{'in': menuCollapsed}" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active': currentView=='home'}"><a href="#">Home</a></li>
                    <li ng-class="{'active': currentView=='organizers'}"><a href="#/organizers">Organizers</a></li>
                    <li ng-class="{'active': currentView=='arrivals'}"><a href="#/arrivals">Arrivals</a></li>
                    <li ng-class="{'active': currentView=='participants'}"><a href="#/participants">Participants</a></li>
                    <li ng-class="{'active': currentView=='rooms'}"><a href="#/rooms">Rooms</a></li>
                    <li ng-class="{'active': currentView=='workshops'}"><a href="#/workshops">Workshops</a></li>
                    <li ng-class="{'active': currentWiew=='mentors'}"><a href="#/mentors">Mentors</a></li>             
                    <li ng-class="{'active': currentView=='santinel'}"><a href="#/santinel">Santinel</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
                    <li ng-if="!isLoggedIn()" ng-class="{'active': currentView=='login'}"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;&nbsp;Login</a></li>
                    <li ng-if="isLoggedIn()"><a href="#/login"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;{{getSession().Name}}</a></li>
                    <li ng-if="isLoggedIn()"><a href="#/login?Action=logout"><span class="glyphicon glyphicon-log-out"></span></a></li>

                </ul>
            </div>
        </div>
    </nav>
</div>