<p class="input-group">
    <input type="text"
           class="form-control"
           uib-datepicker-popup="{{format}}"
           ng-model="model[property.Name]"
           is-open="dateTimePopupOpened"
           datepicker-options="dateOptions"
           ng-required="true"
           close-text="Close"
           alt-input-formats="altInputFormats"
           ng-change="propertyChanged(model, property);" />
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="dateTimePopupOpened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
</p>