
<div ng-switch="property.Type" >
    <div ng-switch-when="mail">
        <input class="form-control" type="text" ng-model="item[property.Name]" ng-change="propertyChanged(item, property);" />
    </div>
    <span ng-switch-when="url">
        <input class="form-control" type="text" ng-model="item[property.Name]" ng-change="propertyChanged(item, property);" />
    </span>
    <div ng-switch-when="photourl" class="profileImageWrapper">
        <img ng-src="{{item[property.Name]}}" />
    </div>
    <div ng-switch-when="boolean" class="checkbox">
        <input class="styled" type="checkbox" ng-model="item[property.Name]" ng-change="propertyChanged(item, property);" />
        <label> </label>
    </div>
    <span ng-switch-when="enum">
        <select ng-model="item[property.Name]" ng-change="propertyChanged(item, property)" class="form-control">
            <option ng-repeat="enumValue in property.Values" value="{{enumValue}}">
                {{enumValue}}
            </option>
        </select>
    </span>
    <div ng-switch-when="string">
        <input class="form-control" type="text" ng-model="item[property.Name]" ng-change="propertyChanged(item, property);" />
    </div>
    <div ng-switch-when="room">
        <select class="form-control"
                ng-model="item[property.Name]"
                ng-options="room as room.Name for room in rooms.allRooms track by room.Id"
                ng-change="propertyChanged(item, property);"
        ></select>
    </div>
    <div ng-switch-when="date">
        <div ng-include='"partialViews/propertyDateEditField.html"'></div>
    </div>
    <span ng-switch-default>
        <input class="form-control" type="text" ng-model="item[property.Name]" ng-change="propertyChanged(item, property);" />
    </span>
</div>